---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Gwyn"
	description="Gwyns about page"
	pubDate={new Date('July 17 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Over 50 years experience in computing. From early days of Fortran and 360 Assembler
		to everything from Smalltalk and Forth to Python and Javascript. Recent work in
		web development usually control and programing for IOT and embedded systems.
		Many years of database background from IMS/vs to SQL, Mongo, and general Database design.
	</p>

</Layout>
